body {
  background-color: #453821; 
  font-family: 'Poppins', sans-serif;
  color: #cdb39a; 
}

.navbar {
  background-color: #947862 !important;
}

.navbar .navbar-brand {
  color: #d8c5a2 !important;
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  background-color: #C19A6B;
  border-color: #C19A6B;
}

.btn-primary:hover {
  background-color: #A67B5B;
  border-color: #A67B5B;
}

.card {
  background-color: #f3e9de; 
  border: 1px solid #453821; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(205, 133, 133, 0.15);
}

.card-title {
  color: #4B2E2E; 
  font-weight: 600;
}

.card-text {
  color: #946d33; 
}

.btn-outline-primary {
  color: #eccfa9;
  border-color: #6b5132;
}

.btn-outline-primary:hover {
  background-color: #63584a;
  color: #FFF8F0;
  border-color: #A67B5B;
}


.btn-coffee {
  background-color: #7b6954; 
  color: #FFF8F0;
  border: 1px solid #A67B5B;
}

.btn-coffee:hover {
  background-color: #A67B5B;
  color: #FFF8F0;
}


.btn-coffee-dark {
  background-color: #4B2E2E; 
  color: #F5E6CC;
  border: 1px solid #271515;
}

.btn-coffee-dark:hover {
  background-color: #574632;
  color: #F5E6CC;
}